node_modules
build
Dockerfile
.dockerignore
.git
.gitignore
# Python
**/__pycache__
*.pyc
*.pyo
*.pyd

# Virtual environment
.venv
venv/
env/

# IDE and editor directories
.vscode/
.idea/

# OS-specific files
.DS_Store
Thumbs.db